    
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div>
            <img src="{{site.url}}/image/k_1.gif">
          </div>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Front End Development</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{site.url}}/javascript/">javascript</a></li>
                <li><a href="{{site.url}}/style/">CSS</a></li>
                <li><a href="{{site.url}}/react/">React</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Data Visualization</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{site.url}}/d3/">D3</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">School Subjects</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{site.url}}/my_collection/edX/">edX</a></li>
                <li><a href="{{site.url}}/my_collection/khan/">KhanAcademy</a></li>
                <li><a href="{{site.url}}/my_collection/HackerRank/">HackerRank</a></li>
                <li><a href="{{site.url}}/math/">Mathimatics</a></li>
                <li><a href="{{site.url}}/physics/">Physics</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Learning Sites</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="https://www.edx.org/">edX</a></li>
                <li><a href="https://www.codecademy.com/">Codecademy</a></li>
                <li><a href="https://www.khanacademy.org/">Khan Academy</a></li>
                <li><a href="https://developer.mozilla.org/ja/">MDN</a></li>
                <li><a href="http://dotinstall.com/">ドット　インストール</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a href="{{site.url}}/index20170605.html">Old Site Home</a></li>
    </ul>
